{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-5">

<h2>{{ produit.nom }}</h2>

{% if produit.image %}
    <img src="{{ asset('uploads/images/' ~ produit.image) }}"
         class="img-fluid mb-3"
         width="300">
{% endif %}

<p>{{ produit.description }}</p>

<p><strong>Prix :</strong> {{ produit.prix }} TND</p>
<p><strong>Stock :</strong> {{ produit.stock }}</p>

{% if is_granted('ROLE_USER') %}
    <form method="post"
          action="{{ path('app_produit_commander', {'id': produit.id}) }}">
        <button class="btn btn-success">
            Commander
        </button>
    </form>
{% endif %}

</div>
{% endblock %}
