{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
<<<<<<< HEAD
    <button class="btn">{{ button_label|default('Save') }}</button>
=======
    <button class="btn btn-primary mt-3">{{ button_label|default('Enregistrer') }}</button>
>>>>>>> c4d1c44b0746a7387dc28bd3111400a167bda2d9
{{ form_end(form) }}
